* {box-sizing: border-box;}

body {margin: 0;}

input:focus, button:focus {outline: none;}

.main-btn {
  background-color: #50e3c2;
  color: white;
  border: 1px solid #50e3c2;
  border-radius: 10px;
  margin: 5px;
}

.container {
  font-family: 'Helvetica Neue', sans-serif;
  padding-top: 30px;
  width: 1200px;
  margin: 0 auto;
  // background-color: #79eed4;
}

.nav {
  width: 100%;
  border: 1px solid #50e3c2;
  padding-left: 20px;
}

.nav h1 {
  width: 88%;
  color: #50e3c2;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid black;
  margin-bottom: 3px;
}

.nav-bar {
  width: 88%;
  vertical-align: top;
  margin: -25px 0 10px 0;
}

.nav-btn {
  margin: 5px;
  padding: 5px;
  background-color: #50e3c2;
  font-weight: 300;
}

.nav-btn:hover {cursor: pointer;}

.nav-img {
  width: 12%;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.chirp-span {
  font-weight: 300;
  font-style: italic;
}

.blue {color: #50e3c2;}

.login-view, .register-main {
  width: 90%;
  display: block;
  vertical-align: top;
  margin: 10px auto;
  // border: 1px solid black;
  // border-radius: 5px;
  padding: 8px;
}

.register label {
  display: block;
  margin: 5px 0;
}

.register input {
  margin-right: 5px;
}

.login label, input {
  margin-right: 5px;
}

.chirp-data {
  display: block;
  width: 75%;
  margin: 5px auto;
  background-color: #50e3c2;
  padding: 10px;
  // border: 1px solid black;
  color: white;
  border-radius: 4px;
}

.chirp-data img {
  display: inline-block;
  width: 12%;
  vertical-align: top;
}

.chirp-data h3, p {
  display: inline-block;
  width: 85%;
}
